<div class="container">
    <div class="row justify-content-center">

        <div class="cow-sm ">
            <div class="card" style="width: 18rem; float: left; margin-right: 25px;">
                <img src="assets/img/Carteira.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Carteira</h5>
                    <p class="card-text">Esta bela carteira foi feita a mão utilizando de couro de antilope, sua custura
                        é feita com linha branca.</p>
                    <a routerLink="/reserva" class="btn btn-ligth">Encomendar</a>
                </div>
            </div>
        </div>

        <div class="cow-sm">
            <div class="card" style="width: 18rem; float: right;">
                <img src="assets/img/Pulseira_Relogio.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pulseira de relógio</h5>
                    <p class="card-text">Esta pulseira foi feita com couro de antilope, costuras brancas com estilo
                        minimalista, feita a mão.
                        tamanho 20 mm.
                    </p>
                    <a routerLink="/reserva" class="btn btn-ligth">Encomendar</a>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row justify-content-center">
        <div class="cow-sm">
            <div class="card" style="width: 18rem; float: left; margin-right: 25px;">
                <img src="assets/img/Chaveiro.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Chaveiro</h5>
                    <p class="card-text"> Chaveiro confecionado com couro de antilope, um belo rebite de latão para
                        fazer a fixação e uma argola para prender as suas chaves.</p>
                    <a routerLink="/reserva" class="btn btn-ligth">Encomendar</a>
                </div>
            </div>
        </div>

        <div class="cow-sm">
            <div class="card" style="width: 18rem; float: right;">
                <img src="assets/img/Capa_Kindle.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Capa para Kindle</h5>
                    <p class="card-text">Capa para kindle feita com couro de antilope, costuras em linha branca seguindo
                        o estilo pesponto, um
                        pequeno feixo com rebite de latão.</p>
                    <a routerLink="/reserva" class="btn btn-ligth">Encomendar</a>
                </div>
            </div>
        </div>
    </div>
</div>