<body>
    <div class="caixaTexto">
        <h1>HMarcopoulos</h1>
        <br>
        <p>
            A HMarcopoulos produz produtos em couro, como bolsas, carteiras, pastas e pulseiras de relógios.
        </p>
        
        <p>
            Aqui os produtos são feitos a mão, valorizando todo o processo, desde o corte até o ultimo nó em suas costuras.<br>
            É buscado por nós colocar todo o amor e carinho em nossos produtos! Utilizamos de um design classico e inovador,<br>
            nossos produtos são feitos para durar e serem usados, utilizamos de um aspecto minimalista e muita elegancia.<br>
            <a href="#">Confira os nossos produtos.</a>
        </p>
        </div>    
</body>