<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ">
        <li class="nav-item active ">
          <a class="nav-link" routerLink='/home'>Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink='/produto'>Produtos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink='/reserva'>Faça a sua reserva</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink='/formulario'>Contato</a>
          </li>
      </ul>
    </div>
  </nav>